

    <footer class="footerBackground" th:fragment="bottom">
        <div class="iconSocialMedia">
          <div class="twi">
            <a href="http://www.twitter.com/"> <img src="/img/twitter.png" alt="favicon Twiiter: Suivez Nous sur Twitter"/></a>
          </div>
    
          <div class="face"><a href="http://www.facebook.com/"><img src="/img/Facebook_logo.png" alt="favicon Facbook : Suivez nous sur Facebook"/></a>
          </div>
    
          <div class="insta"><a href="http://www.instagram.com/"><img src="/img/Insta_icon.png" alt="favicon Insta : Suivez nous sur Instagram"/></a>
          </div>
        </div>
        <section>
          <p class="msg"> Copyright © 2019 All Rights Reserved by Solo To Band. </p>
        </section>
      </footer>

